@import 'reset';
@import 'layout';
@import 'colors';
@import 'text';
@import 'ui';
@import 'utils';

@import '../bootstrap/bootstrap-grid';

* {
   outline: 0;
   box-sizing: border-box;
   line-height: $lineHeight-base;
   text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    // background: $color-background;
    font-family: 'Spoqa Han Sans', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: $color-blue-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container-blueBg {
  background: $color-blue-base;
}


.nav-left{
  padding: $padding-base 0;
}


nav {
  width: 100%;
  display: flex;
  align-items: center;
}

nav.desktop {
  height: 4rem;
  color: $color-text-white;
}