$screen-xs:     767px;
$screen-sm:     768px;
$screen-md:     992px;
$screen-lg:    1200px;

$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;


$zIndex--base:      $zIndex-3;
$zIndex--dropdown:  $zIndex-4;
$zIndex--nav:       $zIndex-5;
$zIndex--overlayBg: $zIndex-6;
$zIndex--overlay:   $zIndex-7;

$padding-smaller:   0.25rem;
$padding-small:     0.5rem;
$padding-base:      1rem;
$padding-large:     1.5rem;
$padding-larger:    2rem;

